<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rmsoft.app.mapper.MemberMapper">

	<select id="selectMemberById" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER 
		WHERE USER_ID = #{checkId}
	</select>
	
	<insert id="insertMember">
		INSERT INTO MEMBER (USER_ID, USER_PASSWORD, USER_NAME, USER_PHONE_NO, USER_EMAIL) 
		VALUES (#{userId}, SHA2(#{userPassword}, 256), #{userName}, #{userPhoneNo}, #{userEmail})
	</insert>
	
	<select id="selectLoginById" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER 
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectLoginMember" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER 
		WHERE USER_ID = #{userId} 
			AND USER_PASSWORD = SHA2(#{userPassword}, 256)
	</select>
	
</mapper>