<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rmsoft.app.mapper.ServerMapper">
	<insert id="insertServer">
		INSERT INTO SERVER (MEMBER_NO) 
		VALUES (#{member_no})
	</insert>
	
	<select id="selectServerVolumeUsage" resultType="com.rmsoft.app.vo.ServerVO">
		SELECT *   
		FROM SERVER 
		WHERE MEMBER_NO = #{memberNo}
	</select>
</mapper>