<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rmsoft.app.mapper.SubscribeMapper">
	<insert id="insertSubscribe" parameterType="com.rmsoft.app.vo.SubscribeVO">
		INSERT INTO SUBSCRIBE (MEMBER_NO, SOLUTION_NO, START_DT, END_DT, USE_ST) 
		VALUES (#{member_no}, #{solution_no}, #{start_dt}, #{end_dt}, #{use_st})
		<selectKey resultType="int" keyProperty="subscribe_pk" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="selectSubscribeByMemberPk" resultType="com.rmsoft.app.vo.SubscribeVO">
		SELECT * 
		FROM SUBSCRIBE 
		WHERE MEMBER_NO = #{memberPk} 
			AND MODIFIED_ST = 'Y'
	</select>
	
	<update id="updateSubscribeEndDT">
		UPDATE SUBSCRIBE 
		SET END_DT = #{end_dt}, MODIFIED_ST= #{modified_st}, MODIFIED_DT = now()  
		WHERE MEMBER_NO = #{member_no} 
			AND MODIFIED_ST = 'Y'
	</update>
	
	<select id="selectSubscribeEndDt" resultType="com.rmsoft.app.vo.SubscribeVO">
		SELECT * 
		FROM SUBSCRIBE 
		WHERE MEMBER_NO = #{memberPk} 
			AND USE_ST = 'Y'
	</select>
	
	<update id="schedulerSubscribeUseStY">
		UPDATE SUBSCRIBE 
		SET USE_ST = 'Y'
		WHERE SUBSCRIBE_PK 
			IN (SELECT * FROM 
				(SELECT SUBSCRIBE_PK 
					FROM SUBSCRIBE 
					WHERE DATE(now()) BETWEEN START_DT AND END_DT 
						AND USE_ST = "N")AS a);
	</update>
	
	<update id="schedulerSubscribeUseStN">
		UPDATE SUBSCRIBE 
		SET USE_ST = 'N'
		WHERE SUBSCRIBE_PK 
			IN (SELECT * FROM 
				(SELECT SUBSCRIBE_PK 
					FROM SUBSCRIBE 
					WHERE DATE(now()) NOT BETWEEN START_DT AND END_DT 
						AND USE_ST = "Y")AS a);
	</update>
	
</mapper>